/* Footer.css */

.footer {
    display: absolute;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--footer-bg);
    border-top: 1px solid var(--footer-border);
    box-shadow: var(--footer-shadow);
}

.footer-text p {
    font-size: 1.6rem;
}

/* up-arrow button removed */

.footer p {
    text-align: center;
    margin-top: 2rem;
}
