/* Services.css */

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.services .logos {
    display: flex;
    justify-content: center; /* Center the logos */
    flex-wrap: wrap; /* Allow logos to wrap to the next line */
    margin-top: 10px; /* Space between the text and logos */
}

.services .logos img {
    margin: 5px; /* Space around each logo */
    height: 40px; /* Adjust size as needed */
    width: auto; /* Maintain aspect ratio */
}

